.Title .fa {
  color: #3BB4DC;
  font-size: 6px;
  line-height: 10px;
  border: 1px solid;
  width: 9px;
  border-radius: 50%;
  padding-left: 2px;
  padding-top: 1px;
}

.Title {
  font-size: 12px;
  color: #8C8C8C;
  height: 48px;
  line-height: 68px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
}

@media (max-width: 768px) {
  .Title {
    letter-spacing: 0.7px;
    line-height: 50px;
    height: 35px;
  }
}

.customeTheme {
  color: #8C8C8C !important;
  background-color: rgb(255, 255, 255) !important;
  text-align: left !important;
  font-size: 12px !important;
  text-transform: none !important;
  padding: 20px 21px !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.19);
  border-radius: 4px !important;
  letter-spacing: 0px;
}

.customeTheme b {
  color: #2E3138 !important;
  font-family: 'Brandon Text Bold';
}

.customeTheme.place-top:after {
  border-top-color: rgb(255, 255, 255) !important;
  border-top-style: solid !important;
  border-top-width: 6px !important;
}

.__react_component_tooltip {
  margin: 0;
  width: 269px;
  line-height: 130%;
}
